*.iml
*.ipr
*.iws
*.launch
*.sublime-*
*.swp
*~
.DS_Store
.wk/
.classpath*
.externalToolBuilders
.gradle
.idea
.project
.settings
adapt.gradle
/bin
build/
dependency-reduced-pom.xml
derby.log
hdfs_cache/
out/
target/
TempStatsStore/
